
# 
**.DS_Store
.venv

# CV model
backend/CV/gestures/gestures_model
backend/CV/gestures/__pycache__
backend/CV/face_recog/__pycache__
backend/CV/face_recog/face_venv
frontend/extension/node_modules/
frontend/extension/node_modules/node/bin/node

**.pkl
backend/CV/face_recog/faces/ds_model_vggface_detector_opencv_aligned_normalization_base_expand_0.pkl